<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <navbar
      class="flex justify-between items-center p-7 border-solid border-4 border-indigo-500/100 border-x-indigo-500 bg-red-600 max-sm:p-2 max-sm:flex max-sm:flex-col mx-md:p-5"
    >
      <div class="img">
        <img src="../../logo.png" alt="logo" width="150" height="150" />
      </div>
      <div id="btn" class="text-white">
        <a
          href="/auth/login"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Login</a>
        <a
          href="/auth/register"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Register</a>
      </div>
    </navbar>
    <section
      class="h-screen bg-black text-white flex justify-start max-sm:flex max-sm:flex-col max-md:flex max-md:flex-col"
    >
      <aside
        class="p-7 border-solid border-4 border-indigo-500/100 border-x-indigo-500 bg-black flex-none"
      >
        <a
          href="/"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Home</a>
        <a
          href="/explore"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Explore Blogs</a>
      </aside>
      <article class="p-10">
        {{{body}}}
        <!-- This is where the content of other handlebars templates, like index.handlebars, will be injected. -->
      </article>
    </section>
    <footer
      class="p-7 border-solid border-4 border-indigo-500/100 border-x-indigo-500 bg-red-600"
    >
      <p>© 2023 Beat Route Columbus, Columbus, Ohio. All Rights Reserved.</p>
    </footer>
  </body>

</html>