<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>

<section class="flex justify-start">

    <main class="flex-grow">
        {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        <form action="/login" method="post" class="p-8 space-y-4">
            <div>
                <label for="user_name" class="block mb-2 text-sm">Username</label>
                <input type="text" id="user_name" name="user_name" required>
            </div>
            <div>
                <label for="pwd_hash" class="block mb-2 text-sm">Password</label>
                <input type="password" id="pwd_hash" name="pwd_hash" required>
            </div>
            <button type="submit" class="block w-full mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Login</button>
        </form>
    </main>
</section>

</body>

</html>
